<section class="card">
    <div class="wrapper">
        <button class="card__reset" type="reset"><i class="far fa-trash-alt"></i> Reset</button>
        <include
            src="./card-data.html"
            fullName="Nombre Apellido"
            job="Front-end developer"
            imgSrc="./assets/images/cardPhoto.jpg"
            phone="555 333 222"
            mailto="mailto:username@example.com"
            linkedin="www.myLinkedIn.com"
            github="www.myGitHub.com"
        ></include>
    </div>
</section>
