<include src="./article-title.html" title="Rellena" icon-img=""></include>

<form action="/signup" class="form" method="POST">
	<label for="" class="form__label">Nombre completo
        <input name="name" type="text" class="form__input" required />
    </label>
	<label for="" class="form__label">Puesto
        <input name="job" type="text" class="form__input" required />
    </label>

    <label for="" class="form__label">Imagen de perfil
        <button class="form__label--bt"></button>
    </label>

	<label for="" class="form__label">Email
        <input name="email" type="email" class="form__input" required />
    </label>
	<label for="" class="form__label">Teléfono
        <input name="phone" type="phone" class="form__input" />
    </label>
	<label for="" class="form__label">Linkedin
        <input name="linkedin" type="text" class="form__input" required />
    </label>
	<label for="" class="form__label">GitHub
        <input name="github" type="text" class="form__input" required />
    </label>
</form>
