<section class="js-collapsable collapsed">
  <include
    src="./collapsable-header.html"
    titleh2="Rellena el formulario con tus datos"
    title="Rellena"
    iconImg="far fa-keyboard"
  ></include>

  <form
    action="/signup"
    class="form collapsable__container js-form"
    method="POST"
    name="fill-form"
  >
    <fieldset class="fieldset data">
      <label for="name" class="form__label"
        >Nombre completo <span class="form--required">*</span></label
      >
      <input
        id="name"
        name="name"
        type="text"
        class="form__input js-name js-input-text"
        placeholder="Ej: Mary Shelley"
        required
      />

      <label for="job" class="form__label"
        >Puesto <span class="form--required">*</span></label
      >
      <input
        id="job"
        name="job"
        type="text"
        class="form__input js-job js-input-text"
        placeholder="Ej: Master of creatures"
        required
      />
    </fieldset>

    <fieldset class="fieldset">
      <label for="photo" class="form__label"
        >Imagen de perfil <span class="form--required">*</span></label
      >
      <div class="form__label-div">
        <button class="form__label--bt js__profile-trigger">
          Añadir imagen
        </button>
        <input
          id="photo"
          name="photo"
          type="file"
          class="js__profile-upload-btn hidden js-input-text"
        />
        <div class="form__img--container js__profile-preview js-photo"></div>
      </div>
    </fieldset>

    <fieldset class="fieldset social">
      <label for="email" class="form__label"
        >Email <span class="form--required">*</span></label
      >
      <input
        id="email"
        name="email"
        type="email"
        class="form__input js-email js-input-text"
        placeholder="Ej: mary.shelley@gmail.com"
        required
      />

      <label for="phone" class="form__label"
        >Teléfono <span class="form--required">*</span></label
      >
      <input
        id="phone"
        name="phone"
        type="tel"
        class="form__input js-phone js-input-text"
        placeholder="Ej: 666 66 66 66"
        required
      />

      <label for="linkedin" class="form__label"
        >Linkedin <span class="form--required">*</span></label
      >
      <input
        id="linkedin"
        name="linkedin"
        type="text"
        class="form__input js-linkedin js-input-text"
        placeholder="Ej: dr-frankenstein"
        required
      />

      <label for="github" class="form__label"
        >GitHub <span class="form--required">*</span></label
      >
      <input
        id="github"
        name="github"
        type="text"
        class="form__input js-github js-input-text"
        placeholder="Ej: frankensteins-monster"
        required
      />
      <label for="required-fields" class="form__label"
        ><span class="form--required">*</span> Campos obligatorios</label
      >
    </fieldset>
  </form>
</section>
