<main class="page__main">
  <div class="page__container">
    <img
      class="page__img fly-in-top"
      src="./assets/images/title-creatures.svg"
      alt="Awesome profile-cards"
    />
    <h1 class="page__title">Crea tu tarjeta de visita</h1>
    <p class="page__text">
      Crea mejores contactos profesionales de forma fácil y cómoda
    </p>
    <ul class="page__list">
      <li class="page__list--item">
        <i class="far fa-object-ungroup page__list--icon"></i> Diseña
      </li>
      <li class="page__list--item">
        <i class="far fa-keyboard page__list--icon"></i> Rellena
      </li>
      <li class="page__list--item">
        <i class="fas fa-share-alt page__list--icon"></i> Comparte
      </li>
    </ul>
    <a class="page__link fly-in-bottom" href="./form.html" title="Comenzar"
      >Comenzar</a
    >
  </div>
</main>
