<main class="page">
  <div class="wrapper">
    <img class="page__img" src="./assets/images/title.svg" alt="Awesome profile-cards">
    <h1 class="page__title">Crea tu tarjeta de visita</h1>
    <p class="page__text">Crea mejores contactos profesionales de forma fácil y cómoda</p>
    <ul class="page__list">
      <li class="page__list--item">Diseña</li>
      <li class="page__list--item">Rellena</li>
      <li class="page__list--item">Comparte</li>
    </ul>
    <a class="page__link" href="./form.html" title="Comenzar">Comenzar</a>
  </div>
</main>
