<div class="shareclick">
    <button type="buttoncliclk" class="shareclick__button">
        <i class="far fa-id-card"></i><span class="shareclick__button--text"> Crear tarjeta </span>
    </button>

    <div class="shareclick__line"></div>
    <h3 class="shareclick__title">La tarjeta ha sido creada:</h3>
    <p class="shareclick__text">https://awesome-profile-card.com?id=A456DF0001</p>

    <button type="buttonclick" class="shareclick__twitter">
        <i class="fab fa-twitter"></i><span class="shareclick__twitter--text"> Compartir en twitter </span>
    </button>
    <div class="shareclick__line"></div>
</div>