@mixin tablet {
  @media all and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: 1024px) {
    @content;
  }
}

@mixin sizeLine($fontSize, $lineHeight) {
  font-size: $fontSize;
  line-height: $lineHeight;
} //de momento lo he usado en un solo lugar.

@mixin openRegular {
  font-family: $font-text;
  font-weight: 400;
  @content;
}

@mixin openSemiBold {
  font-family: $font-text;
  font-weight: 600;
  @content;
}
