// fonts
$font-title: 'Merriweather', serif;
$font-text: 'Open Sans', sans-serif;
$font-card: 'Montserrat', sans-serif;
$defaultFontSize: 16;

// colors
// Main Palette
$main-bg: #f5f5f5;
$gradient-1: #bfcdd0;
$gradient-2: #dde9ed;
$twitter-bg: #00a0f5;
$icons: #e17334;
$bt: #438792;
$bt-click: #d5d5d5;
$main-text: #114e4e;
$secondary-text: #54585a;
$placeholder-text: #c5c5c5;
$footer-text: #6b6b6b;
$border: #a2deaf;
$border-text: #438792;
$shadow: #00000052;
$footer-border: #d8d8d8;

//Palette 1
$palette-0-1: #114e4e; //=main-text;
$palette-0-2: #438792; //=color-bt;
$palette-0-3: #a2deaf; //=border;

//Palette 2
$palette-1-1: #420101;
$palette-1-2: #bd1010;
$palette-1-3: #e95626;

//Palette 3
$palette-2-1: #3e5b65;
$palette-2-2: #eab052;
$palette-2-3: #a0c0cf;
