.article {
    border-bottom: 1px $placeholder-text solid ; // ¿este border tiene que desaparecer cuando se despliega?
    margin-bottom: rem(10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__container {
        display: flex;
        @include tablet {
            margin-top: rem(27);
        }
        &--arrows {
            @include tablet {
                margin-top: rem(20);                
            }
        }
    }
    &__icon {
        color: $icons;
        @include sizeLine(rem(18), rem(26));
        margin-right: rem(10);
        &--collapsible {
            color: $secondary-text;
            @include sizeLine(rem(18), rem(18));
        }
    }
    &__title {
        padding-bottom: rem(10);
        @include openSemiBold {
            font-size: rem(18);
            color: $secondary-text;
            text-transform: uppercase;
        }
    }
}