.card {
  font-family: $font-card;
  margin-bottom: rem(27);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    $gradient-1 25%,
    $gradient-2 100%
  );
  @include tablet {
    width: 500px;
    height: 100%;
    border-radius: rem(6);
    margin-bottom: 0;
  }
 /* @include desktop {
    width: 60%;
  }*/
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: rem(38) 0 rem(40);
    @include tablet {
      margin-top: rem(173);
    }
  }
  &__reset {
    @include openRegular {
      font-size: rem(12);
      color: $secondary-text;
      text-transform: uppercase;
    }
    border: rem(1) solid white;
    padding: rem(6) rem(15) rem(6) rem(5);
    border-radius: rem(15);
    background-color: transparent;
    margin: 0 rem(150) rem(20) 0;
    cursor: pointer;
    &:hover {
      color: white;
      background-color: $icons;
    }
    &:active {
      background-color: $bt;
    }
  }
  &__data {
    height: rem(329);
    width: rem(240);
    background-color: white;
    box-shadow: 0 rem(1) rem(10) 0 rgba(0, 0, 0, 0.2),
      0 rem(1) rem(3) 0 rgba(0, 0, 0, 0.35);
    & .name {
      display: inline-block;
      font-size: rem(18);
      font-weight: 700;
      color: $main-text;
      border-left: rem(5) solid $border-text;
      padding-left: rem(15);
      margin-top: rem(21);
    }
    & .job {
      font-size: rem(16);
      font-weight: 400;
      color: $secondary-text;
      border-left: rem(5) solid $border-text;
      padding-left: rem(15);
      margin-bottom: rem(8);
    }
    &--list {
      list-style-type: none;
      display: flex;
      margin: rem(10) rem(20) rem(12);
      .circle {
        border: rem(2) solid $border;
        border-radius: 50%;
        height: rem(32);
        width: rem(32);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: rem(10);
      }
    }
    &--icon {
      color: $main-text;
      padding: rem(3) rem(5);
    }
  }
  .fa-trash-alt {
    padding: 0 rem(6) 0 rem(10);
  }
}
