.card {
  font-family: $font-card;
  margin-bottom: rem(27);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(to bottom, $gradient-1 25%, $gradient-2 100%);
  height: 60vh;
  @include tablet {
    width: 450px;
    min-height: 75vh;
    border-radius: rem(6);
    margin-bottom: 0;
  }
  @include desktop {
    width: 550px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: rem(38) 0 rem(40);
  }
  &__reset {
    @include openRegular {
      font-size: rem(12);
      color: $secondary-text;
      text-transform: uppercase;
    }
    border: rem(1) solid white;
    padding: rem(6) rem(15) rem(6) rem(5);
    border-radius: rem(15);
    background-color: transparent;
    margin: 0 rem(150) rem(20) 0;
    cursor: pointer;
    transition: 0.7s background-color ease-in, 0.7s color ease-in;
    &:hover {
      color: white;
      background-color: $icons;
    }
    &:active {
      background-color: $bt;
    }
  }
  &__data {
    width: rem(240);
    background-color: white;
    box-shadow: 0 rem(1) rem(10) 0 rgba(0, 0, 0, 0.2), 0 rem(1) rem(3) 0 rgba(0, 0, 0, 0.35);
    &--title {
      border-left: rem(5) solid;
      padding-left: rem(15);
      border-color: $border-text;
    }

    &.palette-0 .card__data--title {
      border-left-color: $palette-0-2;
      color: $palette-0-1;
    }
    &--img {
      display: block;
      width: rem(240);
      height: rem(200);
      background-image: url('../images/cardPhoto.png');
      background-size: cover;
      background-position: center;
    }
    &.palette-1 .card__data--title {
      border-left-color: $palette-1-2;
      color: $palette-1-1;
    }

    &.palette-2 .card__data--title {
      border-left-color: $palette-2-2;
      color: $palette-2-1;
    }

    &--list {
      list-style-type: none;
      display: flex;
      margin: rem(10) rem(20) rem(12);
      .circle {
        border: rem(2) solid;
        // border-color: $border;
        border-radius: 50%;
        height: rem(32);
        width: rem(32);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: rem(10);
      }
    }
    &.palette-0 .card__data--list .circle {
      border-color: $palette-0-3;
    }

    &.palette-1 .card__data--list .circle {
      border-color: $palette-1-3;
    }

    &.palette-2 .card__data--list .circle {
      border-color: $palette-2-3;
    }
    &--icon {
      color: $main-text;
      padding: rem(3) rem(5);
    }
    &.palette-0 .card__data--icon {
      color: $palette-0-1;
    }

    &.palette-1 .card__data--icon {
      color: $palette-1-1;
    }

    &.palette-2 .card__data--icon {
      color: $palette-2-1;
    }
  }
  .fa-trash-alt {
    padding: 0 rem(6) 0 rem(10);
  }
}
.name {
  display: inline-block;
  font-size: rem(18);
  font-weight: 700;
  color: $main-text;
  margin-top: rem(21);
}
.job {
  font-size: rem(16);
  font-weight: 400;
  color: $secondary-text;
  margin-bottom: rem(8);
}
