.design {
  display: flex;
  justify-content: space-between;
  margin-top: rem(12);

  &__title {
    font-family: $font-text;
    font-size: rem(14);
    color: $secondary-text;
    text-transform: uppercase;
  }
  &__squareLabel {
    display: flex;
    align-items: center;
    margin-bottom: rem(20);
  }
  .palette-0,
  .palette-1,
  .palette-2 {
    display: flex;
    margin-left: rem(10);
  }
  &__squareColor {
    list-style-type: none;
    width: rem(30);
    height: rem(25);
  }
}

//colors
.palette-0 {
  .color-1 {
    background-color: $palette-0-1;
  }
  .color-2 {
    background-color: $palette-0-2;
  }
  .color-3 {
    background-color: $palette-0-3;
  }
}

.palette-1 {
  .color-1 {
    background-color: $palette-1-1;
  }
  .color-2 {
    background-color: $palette-1-2;
  }
  .color-3 {
    background-color: $palette-1-3;
  }
}

.palette-2 {
  .color-1 {
    background-color: $palette-2-1;
  }
  .color-2 {
    background-color: $palette-2-2;
  }
  .color-3 {
    background-color: $palette-2-3;
  }
}
