.footer {
  // position: fixed;
  // bottom: 0;
  // z-index: 1;

  width: 100%;
  border-top: solid rem(1) $footer-border;
  background-color: white;
  &__container {
    height: rem(110);
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      height: rem(60);
    }
  }
  &__copyright {
    margin-top: rem(18);
    text-align: center;
    @include openRegular;
    font-size: rem(14);
    line-height: rem(20);
    color: $footer-text;
    opacity: 0.5;
    display: block;
    @include tablet {
      margin: rem(18) 0 rem(22) rem(41);
    }
  }
  &__link {
    text-align: center;
  }
  &__img {
    width: rem(103);
    height: rem(40);
    margin: auto;
    margin-top: rem(12);
    margin-bottom: rem(20);
    @include tablet {
      margin: rem(10) rem(40) rem(10) 0;
    }
  }
}
