.footer {
  grid-row: 2;
  width: 100%;
  border-top: solid rem(1) $footer-border;

  &__container {
    display: flex;
    flex-direction: column;
    height: rem(110);
    background-color: white;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      height: rem(60);
    }
  }
  &__copyright {
    margin-top: 3.1vh;
    text-align: center;
    @include openRegular;
    font-size: rem(14);
    line-height: rem(20);
    color: $footer-text;
    opacity: 0.5;
    display: block;
    @include tablet {
      margin-top: 2.5vh;
      margin-left: rem(41);
      margin-bottom: rem(22);
    }
  }
  &__link {
    text-align: center;
  }
  &__img {
    width: rem(103);
    height: rem(40);
    margin: auto;
    margin-top: 2.1vh;
    margin-bottom: 3.5vh;
    @include tablet {
      margin-top: 1.3vh;
      margin-right: rem(40);
      margin-bottom: rem(10);
    }
  }
}
