.footer {
  width: 100%;
  border-top: solid rem(1) $footer-border;
  // position debería ser static en la página form.html ¿se haria con JS?
  position: fixed;
  background-color: white;
  @include tablet {
    position: static;
  }
  &__container {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center; // añado para que queden centradas con respecto a la altura
      // height: 60px; // 6vh
    }
  }
  &__copyright {
    margin-top: rem(18);
    text-align: center;
    @include openRegular;
    font-size: rem(14);
    line-height: rem(20);
    color: $footer-text;
    opacity: 0.5;
    display: block;
    @include tablet {
      margin: rem(18) 0 rem(22) rem(41);
    }
  }
  &__link {
    text-align: center;
  }
  &__img {
    width: rem(103);
    height: rem(40);
    margin: auto;
    margin-top: rem(12);
    margin-bottom: rem(20);
    @include tablet {
      margin: rem(10) rem(40) rem(10) 0;
    }
  }
}
