.main {
    background-image: linear-gradient(
        to bottom, 
        $main-bg,
        white);
}
.wrapper {
    margin: 0 rem(20);
    @include tablet {
        margin: 0 rem(40);
    }
    @include desktop {
        margin: 0 auto;
        max-width: 944px;        
    }
}
