.share {
  display: flex;
  justify-content: center;
  padding: rem(30) 0 rem(70);
  &__button {
    background-color: $icons;
    width: 1rem (199);
    height: rem(50);
    border-radius: rem(12);
    color: white;
    text-transform: uppercase;
    font-family: $footer-text;
    font-size: rem(22);
    border: none;
    margin: auto;
    &--text {
      font-size: rem(18);
      padding: rem(14) 0;
    }
  }
}
